<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <a routerLink="/">Home</a>
      <a [routerLink]="['account', 1]">Account 1 {{ Account1Activated ? '(activated)' : '' }}</a>
      <a [routerLink]="['account', 2]">Account 2 {{ Account2Activated ? '(activated)' : '' }}</a>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
